* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}


body {
  font-family: 'Open Sans', sans-serif;
  background-color: #444444;
}

  header {
    margin-left: 20%;
    margin-right: 20%;
    background-color: #444444;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  main {
    display: flex;
    justify-content: center;
  }

    h1 {
      color: white;
      text-align: center;
    }

    .content {
      width: 800px;
      display: flex;
      flex-flow: column;
      position: relative;
    }
      .myndband {
        position: relative;
      }

      .shade{
        opacity: 0.6;
      }

      .hidden{
        display: none;
      }
        .playpauseB {
          position: absolute;
          right: 50%;
          bottom: 50%;
          z-index: 10;
        }
      .skipanir {
        display: flex;
        flex-flow: row;
        justify-content: center;
      }
        button {
          border-width: 0px;
          background: bottom;
          margin: 5px;
          cursor: pointer;
        }

          img {
            width: 30px;
            height: 30px;
          }
      .tilbaka {
        display: flex;
        justify-content: center;
      }
        a {
          color: white;
          text-decoration: none;
        }
